* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #252422;
}
.container {
  width: 1000px;
  margin: auto;
  transition: .5s;
}
.container h1 {
  color: rgb(124, 24, 124);
}
.container header {
  display: grid;
  grid-template-columns: 1fr 50px;
  position: sticky;
  top: 0;
  margin-top: 50px;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container header .shopping {
  position: relative;
  text-align: right;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}
.shopping i {
  font-size: 3rem;
  color: rgb(124, 24, 124);
  cursor: pointer;
  transition: all .25s ease;
}
.shopping i:hover {
  color: rgb(179, 56, 179);
}
.shopping span {
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 8px;
  font-weight: 700;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #252422;
  border-left: 1px solid #fff;
  height: 100vh;
  transition: .5s;
}
.active .cart{
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.cart h2 {
  color: #fff;
  font-weight: 300;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.cart .list-cart  {
  margin-left: 10px;
}
.cart .list-cart .cart-title,
.cart .list-cart .count,
.cart .list-cart .cart-price {
  color: #fff;
}
.cart .checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart .checkout div {
  background-color: rgb(124, 24, 124);
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}
.cart .checkout div:nth-child(2) {
  background-color: #000;
  color: #fff;
}
.list .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  transition: all .25s ease;
  border-radius: 8px;
  cursor: pointer;
}
.list .item:hover {
  background-color: rgb(178, 92, 199);
}
.list .item img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  border-radius: 5px;
}
.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}
.list .item:hover .title,
.list .item:hover .price {
  color: #fff;
}
.list .item button {
  background-color: #fff;
  color: rgb(124, 24, 124);
  font-size: 1rem;
  font-weight: 800;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(134, 51, 155);
  border-radius: 10px;
  cursor: pointer;
  transition: all .25s ease;
}
.list .item button:hover {
  background-color: rgb(134, 51, 155);
  color: #fff;
}
.list-cart {
  color: #fff;
}
.list-cart li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  margin-bottom: 15px;
}
.list-cart li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-cart li div img {
  width: 90%;
}
.list-cart .count {
  margin: 0px 10px;
  color:  #000;
}
.cart-price,
.cart-title {
  color: #000;
}
.cartButton {
  width: 28px;
  height: 28px;
  color: #fff;
  font-style: 1.5rem;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}